{% extends 'base.html' %}
{% block title %}index{% endblock %}

{% block stylesheets %}
<link href="{{ static('javascripts/libs/progressjs.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="{{ static('javascripts/libs/progress.min.js') }}"></script>
<script src="{{ static('javascripts/index.js') }}"></script>
{% endblock %}

{% block body %}

<img id="img" style="display: none;">
<canvas width="1366" height="768" id="canvas" ></canvas>
<input type="button" value="test" id="ok">
<input type="button" value="save" id="save">
{% endblock %}

